<h1>Zmień informacje o użytkowniku</h1>
<form
*ngIf="home"
  class="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <mat-form-field class="example-form-field">
    <mat-label>Nazwa domu</mat-label>
    <input
      matInput
      type="text"
      name="homeName"
      [(ngModel)]="home.homeName"
      required
      #homeName="ngModel"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ulica</mat-label>
    <input
      matInput
      type="text"
      name="street"
      [(ngModel)]="home.street"
      #street="ngModel"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Number budynku</mat-label>
    <input
      matInput
      type="text"
      name="houseNumber"
      [(ngModel)]="home.houseNumber"
      #houseNumber="ngModel"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Kod pocztowy</mat-label>
    <input
      matInput
      type="text"
      name="postCode"
      [(ngModel)]="home.postCode"
      #postCode="ngModel"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Miasto</mat-label>
    <input
      matInput
      type="text"
      name="city"
      [(ngModel)]="home.city"
      #city="ngModel"
    />
  </mat-form-field>


  <button mat-button>Zapisz</button>
  <button mat-button [mat-dialog-close]="true">Anuluj</button>
</form>
