
        <form
        class="form"
        (ngSubmit)="f.form.valid && remind()"
        #f="ngForm"
        novalidate
        [ngClass]="{ shake: shakeIt }"
      >
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <mat-icon matPrefix>perm_identity</mat-icon>
          <input
            matInput
            type="email"
            name="email"
            [(ngModel)]="form.email"
            required
            #email="ngModel"
          />
          <mat-error
            role="alert"
            *ngIf="f.submitted && email.invalid"
          >
            E-mail jest wymagany
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent">
          Przypomnij
        </button>
      </form>
