<h1>Dodaj przychów</h1>
<form
  class="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <mat-form-field class="example-form-field">
    <mat-label>Nazwa przychodu</mat-label>
    <input
      matInput
      type="text"
      name="nameOfExpense"
      [(ngModel)]="form.nameOfExpense"
      required
      #nameOfExpense="ngModel"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Data przychodu</mat-label>
    <input
      matInput
      [matDatepicker]="dp3"
      disabled
      name="expenseDate"
      [(ngModel)]="form.expenseDate"
      required
      #expenseDate="ngModel"
    />
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Kwota przychodu</mat-label>
    <input
      matInput
      type="number"
      name="amount"
      [(ngModel)]="form.amount"
      required
      #amount="ngModel"
    />
  </mat-form-field>

  <button mat-button>Dodaj</button>
  <button mat-button [mat-dialog-close]="true">Anuluj</button>
</form>
